.setup-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 2em 0;
}

.column {
  width: 100%;
  margin: 0 2em;
}

.tile {
  height: 50px;
  width: 100%;
  padding: 0.5em;
  margin: 0.5em;
  border: 1px #ddd solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.red {
  border: 1px red solid;
  background: #ffc0cb;
}

.blue {
  border: 1px blue solid;
  background: #89cff0;
}

.addInput {
  height: 50px;
  width: 100%;
  padding: 5px 10px;
  font-size: 1.3em;
  border: 1px #ddd solid;
  border-right: none;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  letter-spacing: 0.1em;
}

.addContainer {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0.5em;
}

button.add {
  height: 50px;
  width: 100px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

button:hover {
  cursor: pointer;
}

.remove {
  border: none;
  background: none;
  border-radius: 25px;
  transform: rotate(45deg);
  font-size: 1.5em;
  line-height: 1em;
  outline: none;
}

.playerTile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.playerActionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.playerActionsContainer > * {
  margin: 0px 5px;
}

.remove:hover {
  cursor: pointer;
  background: #ddd;
}

.changeTeams {
  background: none;
  border: 1px transparent solid;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

.blueSwitch:hover {
  border: 1px red solid;
  background: #ffc0cb;
}

.redSwitch:hover {
  border: 1px blue solid;
  background: #89cff0;
}

.action-footer {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-footer > button {
  height: 50px;
  width: 100px;
  font-size: 1.3em;
  border-radius: 5px;
  background: #e1f4d0;
}
